<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo-Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="../style/bootstrap-5.2.3-dist/custom-css/custom.css">
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

    <header class="d-flex justify-content-between align-items-center mt-3 mb-5 p-4">
        <div class="d-flex justify-content-center align-items-center ms-4">
            <img class="img-logo me-2" src="../src/logo.png" alt="Logo">
            <h1 class="text-info">ToDoList</h1>
        </div>
        <div>

        </div>
        <div class="me-4 d-flex justify-content-center align-items-center">
               <!-- Button trigger modal -->
               <button type="button" class="btn btn-info me-2" data-bs-toggle="modal" data-bs-target="#modalCadastro">
                Criar Tarefa
                </button>
            
                <!-- Modal -->
                <div class="modal fade" id="modalCadastro" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="height: 500px;">
                    <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Criar Tarefa</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body d-flex flex-column align-items-center">

                            <form method="POST" action="'../../backend/todo/create.php?id_user='.${idSession}">
                                <input type="hidden" name="id_user">
                                <input type="hidden" name="id">
                                <label for="">Titulo:</label><input type="text" name="title" id="nome">
                                <label for="">Descrição:</label><input type="textarea" name="description" id="description">
                                <label for="">Data Limite:</label><input type="date" name="deadline" id="deadline">
                                <div class="d-flex flex-row justify-content-center align-items-center">
                                    <label for="">Feita</label><input type="checkbox" name="status" id="check">
                                </div>

                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                <input type="submit" class="btn btn-primary">

                            </form>
                            <script>
                                const idSession = sessionStorage.getItem('id');
                                console.log(idSession);
                                document.getElementById('output').innerHTML = idSession;
                            </script>
                    </div>
                    </div>
                </div>
            </div>

           

        <button class="btn btn-danger" href="login.html">Sair</button>
        </div>
    </header>
 
    <main class="d-flex flex-row justify-content-around align-items-center ">
        <div class="d-flex flex-column justify-content-center">
            <h3>Sua lista de afazeres:</h3>


            <table class="table" id="table">
            </table>
            <script>

                const table = document.getElementById('table');
                const posts = document.getElementById('posts');

                /*const idSession = sessionStorage.getItem('id');
                console.log(idSession);
                */
                
    
                fetch("http://localhost/todo/backend/todo/list.php?id_user="+idSession)
                    .then(function (response) {
                        return response.text();
                    })
                    .then(function (arraybuffer) {
                        //console.log(arraybuffer);
                        const postsArray = JSON.parse(arraybuffer);
    
                        postsArray.forEach(e => {
                            const elem = document.createElement('tr');
                            elem.className = "d-flex mt-2";
    
                            const elemCard = document.createElement('td');
                            elemCard.className = "d-flex flex-row justify-content-between card p-4";
                            elemCard.style = "width: 18rem;"
                            elem.appendChild(elemCard);
    
                            const cardItem = document.createElement('div');
                            cardItem.className = "form-check";
                            elemCard.appendChild(cardItem);

                            const inputCard = document.createElement('input');
                            inputCard.className = "form-check-input";
                            inputCard.type = 'text';
                            if(e.status == 'A') {
                                inputCard.value = 'yes';
                            } else {
                                inputCard.value = 'no';
                            }
                            cardItem.appendChild(inputCard);

                            const textCard = document.createElement('p');
                            textCard.innerHTML = e.title;
                            cardItem.appendChild(textCard);

                            const buttonCard = document.createElement('button');
                            buttonCard.innerHTML = 'Ver Detalhes';
                            buttonCard.type = 'button';
                            buttonCard.className = 'btn btn-primary';
                            buttonCard.className = 'btn btn-primary';
                            buttonCard.setAttribute('data-bs-toggle' , 'modal');
                            buttonCard.setAttribute('data-bs-target' , '#modalCadastro');
                            //buttonCard.onclick(GetOneTask(e.id , e.fk_user));
                            elemCard.appendChild(buttonCard);

                            document.getElementById('table').appendChild(elem);
                        })
                    }
                )


                
               </script>

        </div>
        
            
        

    </main>
      <footer>

      </footer>


      <script>/*
        function GetOneTask(id , id_user){

            fetch('http://localhost/todo/backend/todo/list.php')
                        .then(function (response) {
                            return response.text();
                        })
                        .then(function (buffer) {
                            const post = JSON.parse(buffer);    
            })

            const idInput = document.getElementById('id');
            idInput.value = post.id;


            const idUserInput = document.getElementById('id_user');
            idUserInput.value = post.fkuser;


            const TitleInput = document.getElementById('nome');
            TitleInput.value = post.title;


            const DescriptionInput = document.getElementById('description');
            DescriptionInput.value = post.description;


            const deadLineInput = document.getElementById('deadline');
            deadLineInput.value = post.deadline;


            const statusCheck = document.getElementById('check');
            statusCheck.value = post.status;
        }*/
      </script>

</body>
</html>